body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    vertical-align:middle;
}

svg{
    vertical-align:middle;
}

.bajo{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    text-align: center;
}

.btn-github {
    background-color: #422d60;
    color: #ffffff;
    border: 1px solid #24292e;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-github:hover {
    background-color: #291743;
    border-color: #1a1e22;
    color: #ffffff;
}