body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bajo{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    text-align: center;
}

.login{
    
}